@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>REC.note</title>
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("Content/Css/Default.css")" />
    @Url.GetDynamicFiles()
    <script src="@Url.Content("Content/Scripts/less.min.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
