@{
    Layout = "~/Views/Shared/Control.cshtml";
}
@model RecNote.Entities.Audios.Audio
<section id="audioPlay">
    <audio src="@Url.Action("Reader", "Audio", new { audioID = Model.ID })" controls autoplay loop></audio>
</section>