@import "../../Css/vars.less";
#projectMenu
{
	header {
		font-size: 20px;
		height: 30px;
		line-height: 30px;
		vertical-align: middle;
		font-weight: bold;
		button {
			float: right;
			width: 30px;
			height: 30px;
			font-size: 25px;
		}
	}
}