@{
    Layout = "~/Views/Shared/Control.cshtml";
}
@model RecNote.Presentation.Web.Models.Project.List
<section id="projectList">
    <nav>
        <ul>
            @foreach (var restrictedProject in Model.RestrictedProjects)
            {   
                <li onclick="project.view('@restrictedProject.Project.ID');">@restrictedProject.Project.Name</li>       
            }
        </ul>
    </nav>
</section>