@{
    Layout = null;
}
<section id="projectMenu">
    <head>
        @I18n.GetString("project.menu.title")
        <menu>
            <button type="button" onclick="project.new()">@I18n.GetString("project.menu.new")</button>
        </menu>
    </head>
    @Html.Action("List", "Project")
    <footer></footer>
</section>